
@{
    ViewData["Title"] = "AttendanceView";
}

@Html.Partial("_AttendanceDashboard")

<div class="container">
    <div class="container-fluid" style="padding-top:60px;padding-bottom:80px;position:relative;">
        <h4 class="text-left" style="padding-left:200px;">Class : Six Attendance List</h4>
        <div class="card" style="width:700px;height:400px;margin-left: 50%;transform: translateX(-50%);position:relative;">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Total Class</th>
                            <th>Present</th>
                            <th>Absent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Doe</td>
                            <td>12</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Johnson</td>
                            <td>12</td>
                            <td>9</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
