
@{
    ViewData["Title"] = "Sent";
}

@Html.Partial("_GuardianDashboard")

<div class="container">
    <div class="container-fluid" style="padding-top:60px;padding-bottom:60px;position:relative;">
        <h2 class="text-center">Sent</h2>
        <div class="card" style="width:700px;height:320px;margin-left: 50%;transform: translateX(-50%);">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <a> <td>John</td></a>
                            <td>Doe</td>
                            <td>jdoe@gmail.com</td>
                        </tr>

                        <tr>

                            <td>Will</td>
                            <td>Johnson</td>
                            <td>will@yahoo.com</td>
                        </tr>
                        <tr>

                            <td>Shannon</td>
                            <td>Williams</td>
                            <td>shannon@yahoo.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


